* {
    box-sizing: border-box;
}
html {
    font-family: 'Times New Roman', Times, serif;
}
.col-1 {
    border-radius: 20px;
    width: 70%;
    float: left;
    background-color: rgb(233, 150, 233);
    border: solid;
    border-color: chartreuse;
    font-size: 18px;
    padding: 15px;
}
.row {
    max-width: 1200px;

}
.col-2 {
    width: 23%;
    float: right;

}
.nav {
    background-color: rgb(128, 240, 221);
    border-radius: 20px;
    padding: 10px;
}
.materials {
    border-radius: 20px;
    background-color: rgb(128, 240, 221);
    padding: 10px;
    margin-top: 10px;
}
img {
    width: 200px;
    height: 150px;
    border-radius: 20px;
    outline: 2px dotted rgb(255, 4, 4);
    padding: 5px ;
}
.firstimg {
    float: left;
    margin: 10px;
}
.secondimg {
    float: right;
    margin: 10px;
}
.thirdimg {
    float: left;
    margin: 10px;
    
}