body {
    margin: 0 auto;
    max-width: 1600px;
}

a {
    text-decoration: none;
}
.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width:1600px;
}
.cont {
    display: flex;
    width: 100%;
    justify-content: space-between;
    width: 350px;
    list-style-type: none;

}
.logo {
    color: #b8b29c;
    font-family: 'Open Sans',sans-serif;
    font-size: 30px;
    margin-top: 15px;
}
.half {
    width: 50%;
    text-align: center;
    padding: 150px 130px;
}
.lemon {
    display: flex;
    width: 1600px;
    height: 842px;
}


.bigText {
    font-size: 40px;
    color: #f1c50e;
    font-weight: 700;
    font-family: Roboto,sans-serif;
}
.smallText {
    margin: 20px;
    font-family: 'Open Sans',sans-serif;
}
.botton {
    background-color: #f1c50e;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    border:none;
    padding: 10px 30px;
    cursor: pointer;
}
.foot {
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    width: 1600px;
    color: #ffffff;
}